<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pfoss.countdownlivewallpaper">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name=".activities.WidgetConfigurationActivity">
            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_CONFIGَURE" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreditsActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.TimerListActivity" />
        <activity android:name=".activities.CreateWallpaperActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <service
            android:name=".services.CountDownWallpaperService"
            android:enabled="true"
            android:label="Countdown Live Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name=".activities.EditCountDownActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".services.CountDownWidget"
            android:icon="@drawable/timer"
            android:label="@string/countdown_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_timer_info" />
        </receiver>

        <receiver android:name=".services.TimerDueBroadcastReceiver"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>